{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-text-800 font-medium text-3xl mb-4">Mentions légales</h1>
<h2 class="text-text-800 font-medium text-xl my-4">Informations générales</h2>
<p>Ce site est une propriété de Guillaume Gorvel</p>
<h2 class="text-text-800 font-medium text-xl my-4">Crédits</h2>
    <ul>
        <li>Guillaume Gorvel, développeur web</li>
        <li>24 rue de la Trinité 10000 Troyes</li>
        <li>Email : contact@guillaume-gorvel.fr</li>
    </ul>
<h2 class="text-text-800 font-medium text-xl my-4">Hébergement</h2>
    <ul>
        <li>Le nom de domaine est reservé chez Infomaniak</li>
        <li>Adresse : 26-28, Rue de la Servette, 1211 Genève, Suisse</li>
        <li>Site web : <a href="https://www.infomaniak.com">https://www.infomaniak.com</a></li>
    </ul>
    <br/>
    <ul>
        <li>L’application est hébergée sur un serveur VPS par Pulseheberg</li>
        <li>Adresse : 9 Boulevard de Strasbourg 83000 Toulon</li>
        <li>
            Site web : <a href="https://www.pulseheberg.com">https://www.pulseheberg.com</a>
        </li>
    </ul>

<h2 class="text-text-800 font-medium text-xl my-4">Collecte de données personnelles</h2>
<p>Le site ne collecte aucune donnée personnelle.</p>
<p>
    Aucune information personnelle n’est collectée sans le consentement explicite de l’utilisateur. Le site ne recueille aucune donnée sensible et ne fait pas l’objet de collecte automatisée (cookies, analyse comportementale, etc.).
</p>
    <h2 class="text-text-800 font-medium text-xl my-4">Propriété intellectuelle</h2>
    <p>
        Le contenu du site, y compris les textes, images, vidéos, logos, etc., sont protégés par les lois sur la propriété intellectuelle et appartiennent à Guillaume Gorvel, sauf mention contraire. Toute reproduction ou représentation du site, en tout ou en partie, sans autorisation expresse est interdite.
    </p>
    <h2 class="text-text-800 font-medium text-xl my-4">Responsabilité</h2>
    <p>
        Le site est fourni en l'état et ne garantit pas l'exactitude ou la disponibilité des informations qu'il contient. Guillaume Gorvel ne pourra être tenu responsable des erreurs, omissions, interruptions ou autres problèmes liés au fonctionnement du site.
    </p>
    <h2 class="text-text-800 font-medium text-xl my-4">Liens hypertextes</h2>
    <p>
        Le site peut contenir des liens vers d'autres sites. Ces liens sont fournis à titre d'information et n'engagent en aucun cas la responsabilité de l’éditeur du site quant au contenu ou à l’utilisation des sites tiers.
    </p>
    <h2 class="text-text-800 font-medium text-xl my-4">Modifications des mentions légales</h2>
    <p>
        Les présentes mentions légales peuvent être modifiées à tout moment. Il est recommandé de consulter cette page régulièrement pour prendre connaissance des éventuelles modifications.
    </p>
<h2 class="text-text-800 font-medium text-xl my-4">Droit applicable</h2>
    <p>
        Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux français seront compétents.
    </p>
{% endblock %}