{% extends 'base.html.twig' %}

{% block title %}Hello HomeUsersController!{% endblock %}

{% block body %}
    {% for foyerName, users in usersByFoyer %}
        <h3 class="font-bold">{{ foyerName }}</h3>
        <ul>
            {% for user in users %}
                <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
