{% extends 'base.html.twig' %}

{% block title %}Hello HomeUsersController!{% endblock %}

{% block body %}
    {% for userInHome in usersInHomes %}
        <h1>{{ userInHome.username }}</h1>
    {% endfor %}
{% endblock %}
