.background {
    background-image: url('../images/background.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: cover, cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
