<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création de votre compte</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            color: #333;
        }
        .container {
            max-width: 600px;
            margin: 30px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            color: #2c3e50;
            margin-bottom: 20px;
        }
        .header h1{
            font-size: 24px;
        }
        .content {
            line-height: 1.6;
            margin-bottom: 20px;
        }
        .footer {
            text-align: center;
        }
        .amount {
            font-weight: bold;
            color: #e74c3c;
        }
        .button {
            display: inline-block;
            background-color: #12a594;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }
        .button:hover {
            background-color: #14b8a6;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Création de votre compte</h1>
    </div>

    <div class="content">
        <p>Bonjour <b>{{ username }}</b>,</p>

        <p>Nous tenons à vous informer que votre compte a bien été créé !</p>
        <p>Veuillez créer votre mot de passe afin de finaliser votre inscription en suivant le lien ci-dessous :</p>
        <a href="{{ url|raw }}">{{ url|raw }}</a>

    </div>

    <div class="footer">
        <a href="{{ url|raw }}" class="button">Créer un mot de passe</a>
    </div>
</div>
</body>
</html>
