<div class="flex justify-between  text-gray-400 text-xs mt-2">
    <div class="flex">
        <li class="list-none after:content-['•'] after:opacity-40">
            <a class="mr-2" href="{{ path('app_legal_info') }}">Mentions légales</a>
        </li>
        <li class="list-none">
            <a class="mx-2" href="{{ path('app_help') }}">Aides</a>
        </li>
    </div>
    <span>Version 1.1.1</span>
</div>