<nav>
    <ul>
        <li><a href="{{ path('app_index') }}">Home</a></li>
        <li><a href="{{ path('app_index') }}">Mes tickets</a></li>
        <li><a href="login.php">Login</a></li>
        <li><a href="register.php">Register</a></li>
    </ul>
</nav>