{% if app.user %}
    <nav class="flex justify-between shadow-sm bg-teal-9 mb-4 text-white">
        <ul>
            <li class="p-4 border-b-[3px] border-sky-900">
                <a href="{{ path('app_index') }}">Tickets</a>
            </li>
        </ul>
        <ul class="flex">
            <li class=" p-4 border-b-[3px] border-teal-7 hover:bg-teal-10 hover:border-b-[3px] hover:border-teal-8"><a href="{{ path('app_archive') }}">Historique</a></li>
            <li class=" flex items-center gap-2 p-4 border-b-[3px] border-teal-7 hover:bg-teal-10 hover:border-b-[3px] hover:border-teal-8">
                {% include ('@icons/logout.svg') %}
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
        </ul>
    </nav>
{% endif %}
